In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

In [2]:
def TacoBellScrape(city, state_abbreviation):
    city_ = city.lower()
    state = state_abbreviation.lower()
    url = 'https://locations.tacobell.com/{0}/{1}.html'.format(state, city_)
    
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    address = []
    city = []
    state = []
    zipcode = []
    
    for i in soup.find_all('address'):
        taco1 = i.find('span', attrs={'class':'c-address-street'})
        address.append(taco1.text)
    
    for i in soup.find_all('address'):
        taco2 = i.find('span', attrs={'class': 'c-address-city'})
        city.append(taco2.text)
    
    for i in soup.find_all('address'):
        taco3 = i.find('abbr', attrs={'class': 'c-address-state'}) 
        state.append(taco3.text)
    
    for i in soup.find_all('address'):
        taco4 = i.find('span', attrs={'class':'c-address-postal-code'})
        zipcode.append(taco4.text)

    df = pd.DataFrame([address, city, state, zipcode]).transpose()
    df.rename(columns={0:'Address', 
                       1:'City', 
                       2:'State', 
                       3:'Zipcode'},inplace=True)
    
    df['City'] = df['City'].map(lambda x: str(x)[:-1]) #removes comma from city column 
    
    return df

In [3]:
TacoBellScrape('Brooklyn', 'NY')

                     Address      City State Zipcode
0         1034 Flatbush Ave   Brooklyn    NY   11226
1      108-30 Flatlands Ave   Brooklyn    NY   11236
2             1359 Broadway   Brooklyn    NY   11221
3     2026 Coney Island Ave   Brooklyn    NY   11223
4  208 McGuinness Boulevard   Brooklyn    NY   11222
5          491 Nostrand Ave   Brooklyn    NY   11216
6             8625 4th Ave.   Brooklyn    NY   11209

In [4]:
TacoBellScrape('Chicago', 'IL')

                             Address     City State Zipcode
0           1439 N Milwaukee Avenue   Chicago    IL   60622
1                    1644 W 95th St   Chicago    IL   60643
2              178 North Wabash Ave   Chicago    IL   60601
3                 205 E Ohio Street   Chicago    IL   60611
4                  22 E Chicago Ave   Chicago    IL   60611
5              2407 N. Clark Street   Chicago    IL   60614
6                2410 S Western Ave   Chicago    IL   60608
7              2432 N Milwaukee Ave   Chicago    IL   60647
8               2575 North Clybourn   Chicago    IL   60614
9             2807 W Irving Park Rd   Chicago    IL   60618
10             3143 N Milwaukee Ave   Chicago    IL   60618
11             3350 W. Roosevelt Rd   Chicago    IL   60624
12  3365 S Martin Luther King Drive   Chicago    IL   60653
13                    3509 N Harlem   Chicago    IL   60634
14                3511 Devon Avenue   Chicago    IL   60659
15                  407 S. Dearborn   Chicago    IL   60605
16                4523 W North Ave.   Chicago    IL   60639
17                 4614 S Damen Ave   Chicago    IL   60609
18                   5350 S Pulaski   Chicago    IL   60632
19             6460 N Sheridan Road   Chicago    IL   60626
20           6622 W. Fullerton Ave.   Chicago    IL   60639
21                6631 South Cicero   Chicago    IL   60638
22                      6944 Archer   Chicago    IL   60638
23        7856 S. Stoney Island Ave   Chicago    IL   60649
24           7906 S. Western Avenue   Chicago    IL   60620
25                920 W Belmont Ave   Chicago    IL   60657